.wrap {
  position: relative;
  margin: 1.5em 0;
}

.frame {
  height: 150px;
  line-height: 150px;
  overflow: hidden;
}

.frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 50px;
}

.frame ul li {
  float: left;
  width: 227px;
  height: 100%;
  margin: 0 3px 0 0;
  padding: 0;
  background: var(--color-primary);
  color: var(--color-text);
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  line-height: 100%;
}

.frame ul li.active {
  color: var(--color-text);
  background: var(--color-bright);
}

.frame ul li:hover {
  color: var(--color-text);
  background: var(--color-accent);
}

.controls {
  margin: 10px 0;
  text-align: center;
}

.grid-container {
  width: 100%; 
  height: 100%; 
  margin: 0;
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 1.5fr;
  grid-template-rows: 0.1fr 1fr 1fr 0.25fr 1fr 0.25fr 0.5fr 0.1fr 0.5fr 0.1fr;
  gap: 1px 1px;
}

.flag_1, .flag_2 {
  width: 90%;
  margin: 0 auto; 
}

.score_1, .score_2, .dot {
  font-size: 30px;
  line-height: 200%;
}

.first_gol1, .first_gol2 {
  width: 120%;
  margin-top: 15px;
}

.date_time {
  grid-area: 7 / 2 / 8 / 9;
  font-size: 15px;
}

.game_id {
  grid-area: 9 / 1 / 10 / 2;
  font-size: 10px;
}

.flag_1 { grid-area: 2 / 1 / 3 / 3; }
.flag_2 { grid-area: 2 / 8 / 3 / 10; }
.team_1 { grid-area: 3 / 1 / 4 / 3; }
.team_2 { grid-area: 3 / 8 / 4 / 10; }
.score_1 { grid-area: 2 / 4 / 4 / 5; }
.score_2 { grid-area: 2 / 6 / 4 / 7; }
.dot_bet { grid-area: 5 / 5 / 6 / 6; }
.dot { grid-area: 2 / 5 / 4 / 6; }
.first_gol1 { grid-area: 2 / 3 / 3 / 4; }
.first_gol2 { grid-area: 2 / 7 / 3 / 8; }
.bet_1 { grid-area: 5 / 4 / 6 / 5; }
.bet_2 { grid-area: 5 / 6 / 6 / 7; }
.bet_gol1, .bet_gol2 { width: 80%; }
.bet_gol1 { grid-area: 5 / 3 / 6 / 4; }
.bet_gol2 { grid-area: 5 / 7 / 6 / 8; }
.status { grid-area: 9 / 2 / 10 / 9; }