{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Admins</h1>
    <h4>Current admins are</h4>
    <ul>
        {% for user in admins %}
            <li><a href="{{ url_for('user', username=user.username) }}"> {{user.username}}</a></li>
        {% else %}
            <li>No admin users found.</li>
        {% endfor %}
    </ul>
    <h4>Add users as admins</h4>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(aaform) }}
        </div>
    </div>
    <h4>Remove users from admins</h4>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(raform) }}
        </div>
    </div>

    <h1>Users</h1>
    <h4>Hide users from the standings</h4>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(ruform) }}
        </div>
    </div>

    <h1>Game Results</h1>
    <h4>Submit game's final score</h4>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    <h1>Tournament Winner Team</h1>
    <h4>Submit winner team</h4>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(wform) }}
        </div>
    </div>
{% endblock %}