{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container content example1">
	<div class="pagespan">
		<div class="wrap">
			<div class="scrollbar">
				<div class="handle" style="transform: translateZ(0px) translateX(38px); width: 190px;">
					<div class="mousearea"></div>
				</div>
			</div>
			<div class="frame" id="centered" style="overflow: hidden;">
				<ul class="clearsfix" style="transform: translateZ(0px) translateX(-227px); width: 6840px;">
					{% for game in games %}
					<li>
						<div class="grid-container">
							<img class="flag_1" src={{ url_for('static', filename=game.team_a +'.png') }}/>
							<img class="flag_2" src={{ url_for('static', filename=game.team_b +'.png') }}/>
							<div class="team_1">{{game.team_a}}</div>
							<div class="team_2">{{game.team_b}}</div>
							<div class="dot">:</div>
							<div class="score_1">
								{% if game.score_a==None %} - {% else %} {{game.score_a}} {% endif %}
							</div>
							<div class="score_2">
								{% if game.score_b==None %} - {% else %} {{game.score_b}} {% endif %}
							</div>
							{% if game.first_goal==1 %}
							<img class="first_gol1" src={{ url_for('static', filename='puck.png') }}/>
							<div class="first_gol2"></div>
							{% elif game.first_goal==2 %}
							<img class="first_gol2" src={{ url_for('static', filename='puck.png') }}/>
							<div class="first_gol1"></div>
							{% else %}
							<div class="first_gol2"></div>
							<div class="first_gol1"></div>
							{% endif %}
							<div class="dot_bet">:</div>
							{% for bet in bets %} {% if bet.game_id==game.id %}
							<div class="bet_1"> {{bet.score_a}} </div>
							<div class="bet_2"> {{bet.score_b}} </div>
							{% if bet.first_goal==1 %}
							<img class="bet_gol1" src={{ url_for('static', filename='puck.png') }}/>
							<div class="bet_gol2"></div>
							{% elif bet.first_goal==2 %}
							<img class="bet_gol2" src={{ url_for('static', filename='puck.png') }}/>
							<div class="bet_gol1"></div>
							{% else %}
							<div class="bet_gol1"></div>
							<div class="bet_gol2"></div>
							{% endif %}
							{% endif %} {% endfor %}
							<div class="date_time">{{ moment(game.starts_at).format('ddd DD/MM, H:mm') }}</div>
							<div class="game_id">{{game.id}}</div>
							<div class="status">
								{% if game.starts_at > current_time %} Upcoming {% endif %}
								{% if game.starts_at < current_time and game.starts_at > three_hours_earlier and game.score_a == None %} Started {% endif %}
								{% if game.starts_at < three_hours_earlier or game.score_a != None %} Finished {% endif %}
							</div>
						</div>
					</li>   
					{% endfor %}
				</ul>
			</div>
			<div class="controls center">
				<button class="btn prev"><i class="icon-chevron-left"></i> prev</button>
				<button class="btn next">next <i class="icon-chevron-right"></i></button>
		</div>
	</div>
</div>
	
<div id="teest">
	{% if game_chosen==[] %}
	    	<h1> Please choose game from list above</h1>
	{% else %}	
		{% if game_chosen.starts_at > current_time %}
			{% if form %}
			<h1 style="text-align:center;">Place your prediction </h1>
			<form action="" method="post">
			{{ form.hidden_tag() }}			
			<div class="bbgrid-container">
			    <div class="bbgame">Game {{game_chosen.id}} {{game_chosen.stage}}</div>
			    <div class="bbdate_time">{{ moment(game_chosen.starts_at).format('MMMM Do, h:mm a') }}</div>
			    <div class="bbStatus"> Upcoming </div>
			    <div class="bbTeam1">{{game_chosen.team_a}}</div>
			    <div class="bbTeam2">{{game_chosen.team_b}}</div>
			    <img class="bbFlag1" src={{ url_for('static', filename=game_chosen.team_a +'.png') }}>
			    <img class="bbFlag2" src={{ url_for('static', filename=game_chosen.team_b +'.png') }}>
			    <div class="bbScore1">{{ form.score_a(size=1) }}</div>
			    <div class="bbScore2">{{ form.score_b(size=1) }}</div>
			    <div class="bbdots">:</div>
			    <div class="bbfirsttext">{{ form.first_goal }}</div>
			    <div class="bbsubmit">{{ form.submit() }}</div>
			</div>
			</form>
			 {% endif %}
		{% else %}
			<h1>Predictions for Game {{game_chosen.id}}: 
			    <img src={{ url_for('static', filename=game_chosen.team_a +'.png') }} width="40" height="40"/>
			    {{game_chosen.team_a}} - {{game_chosen.team_b}}
			    <img src={{ url_for('static', filename=game_chosen.team_b +'.png') }} width="40" height="40"/>
			</h1>
			<div> 
			{{correct_winners}}/{{all_bets}} of bets found the correct winner! <br>
			{{correct_first_goals}}/{{all_bets}} of bets found the correct first goal team! <br>
			{{default_bets}}/{{all_bets}} were default bets.
			</div>
			<table class="table table-hover">
			<tr>
			    <th>Player</th>
			    <th>Prediction</th>
			    <th>Points</th>
			  </tr>
			  {% for bet in bets_to_show %}
				  {% if bet.is_default_bet==True %}
				  <tr style="color: brown">
				    {% for user in users %} {% if bet.user_id==user.id %}
				    <td> <a href="{{ url_for('user', username=user.username) }}"> {{user.username}}</td>
				    {% endif %} {% endfor %}
				    <td>{% if bet.first_goal==1 %}
				    	<img src={{ url_for('static', filename='puck.png') }} width="10" height="10"/> {{bet.score_a}}:{{bet.score_b}}  
				    	{% elif bet.first_goal==2 %}
				    	  {{bet.score_a}}:{{bet.score_b}} <img src={{ url_for('static', filename='puck.png') }} width="10" height="10"/>
				    	{% elif bet.first_goal==0 %}
				    	  {{bet.score_a}}:{{bet.score_b}}
				    	{% else %}
				    	? {{bet.score_a}}:{{bet.score_b}} ?
				    	{% endif %}
				    </td>
				    <td>{% if bet.points==None %} - 
				    	{% else %} {{bet.points}} {% endif %}
				    </td>
				  </tr> 
				  {% else %}
				  <tr>
				    {% for user in users %} {% if bet.user_id==user.id %}
				    <td> <a href="{{ url_for('user', username=user.username) }}"> {{user.username}}</td>
				    {% endif %} {% endfor %}
				    <td>{% if bet.first_goal==1 %}
				    	<img src={{ url_for('static', filename='puck.png') }} width="10" height="10"/> {{bet.score_a}}:{{bet.score_b}}  
				    	{% elif bet.first_goal==2 %}
				    	  {{bet.score_a}}:{{bet.score_b}} <img src={{ url_for('static', filename='puck.png') }} width="10" height="10"/>
				    	{% elif bet.first_goal==0 %}
				    	  {{bet.score_a}}:{{bet.score_b}}
				    	{% else %}
				    	? {{bet.score_a}}:{{bet.score_b}} ?
				    	{% endif %}
				    </td>
				    <td>{% if bet.points==None %} - 
				    	{% else %} {{bet.points}} {% endif %}
				    </td>
				  </tr> 
				  {% endif %}
			{% endfor %} 
			</table>
		{% endif %}
	{% endif %}
</div>
{% endblock %}
