{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  {% if current_user.default_score_a == None %}
    <div class="sticky-banner" id="sticky-banner">
      <div class="s_banner">
        <div class="s_icon"><i class="fa-solid fa-bullhorn"></i></div> 
        <div>
          <h3 class="announcement"> {{ _('Set your Default Bet to avoid missing any games!') }}  </h3> 
          <p class="showHide" style="font-size: 14px;">{{ _('Default Bet will be used only for the games that you forget to make a valid prediction otherwise.') }} </p>
        </div>
      </div>
      <div class="s_banner">
          <a href="{{url_for('default_prediction')}}"><button>{{ _('Set Default Bet') }}</button></a>        
          <button onclick="Close()"><i class="fa-solid fa-xmark"></i></button>
      </div>
    </div>
  {% endif %}
     
  {% if current_user.final_winner == None %}
    <div class="sticky-banner" id="sticky-banner1">
      <div class="s_banner">
        <div class="s_icon"><i class="fa-solid fa-bullhorn"></i></div> 
        <div>
          <h3 class="announcement"> {{ _('Predict the Tournament Winner!') }} </h3> 
          <p class="showHide" style="font-size: 14px;">{{ _('Predict the correct Tournament Winner and score some valuable points at the end of the competition!') }} </p>
        </div>
      </div>
      <div class="s_banner">
          <a href="{{url_for('winner_prediction')}}" ><button>{{ _('Set Winner Team') }}</button></a>        
          <button onclick="Close1()"><i class="fa-solid fa-xmark"></i></button>
      </div>
    </div>
  {% endif %}
     
<div class="content-columns">
    <div class="left-section">
        <h2>{{ _('Leaderboard') }}</h2>
        <table style="width:100%; border-collapse: collapse; text-align: center;">
        <tr style="vertical-align: bottom;">
            <td style="padding: 10px; width: 25%;"><strong>{{ _('Game Points') }}</strong><br>
            <img src="/static/leader_icons/leader_points.png" width="70"><br>{{ leaders['leader_points'].username }}
            </td>
            <td style="padding: 10px; width: 25%;"><strong>{{ _('Correct Scores') }}</strong><br>
            <img src="/static/leader_icons/leader_correct_scores.png" width="70"><br>{{ leaders['leader_correct_scores'].username }}
            </td>
            <td style="padding: 10px; width: 25%;"><strong>{{ _('Correct Outcomes') }}</strong><br>
            <img src="/static/leader_icons/leader_outcomes.png" width="70"><br>{{ leaders['leader_outcomes'].username }}
            </td>
            <td style="padding: 10px; width: 25%;"><strong>{{ _('First Goals') }}</strong><br>
            {% if sport == "hockey": %}
                <img src="/static/leader_icons/leader_first_goals.png" width="70"><br>
            {% elif sport == "football": %}
                <img src="/static/leader_icons/leader_first_goals_football.png" width="70"><br>
            {% endif %}
            {{ leaders['leader_first_goals'].username }}
            </td>
        </tr>
        </table>
        <h2>{{ _('Useful Links') }}</h2>
        <a href="https://www.iihf.com/en/events/2025/wm">{{ _('IIHF 2025 official page') }}</a>
    </div>
    <div class="right-section">
        <h2>{{ _('Chat') }}</h2>
            <form method="post" action="">
                {{ form.hidden_tag() }}
                    {{ form.post.label }}<br>
                    {{ form.post(style="width: 100%; padding: 10px; font-size: 16px; box-sizing: border-box;") }}<br>
                <button type="submit" class="button">{{ _('Post') }}</button>
            </form>
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}" class="button"><i class="fa-solid fa-arrow-left"></i></a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}" class="button"><i class="fa-solid fa-arrow-right"></i></a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}