{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>{{ _('Sign In') }}</h2>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                {{ form.hidden_tag() }}<br>
                {{ form.username.label }}<br>
                {{ form.username(class="form-control") }}<br>
                {{ form.password.label }}<br>
                {{ form.password(class="form-control") }}<br>
                {{ form.remember_me() }} {{ form.remember_me.label }}<br>
                <button type="submit" class="button">{{ form.submit.label.text }}</button>
            </form>
        </div>
    </div>
    <br><p>{{ _('New User?') }} <a href="{{ url_for('register') }}">{{ _('Click to Register!') }}</a></p>
    <p>{{ _('Forgot Your Password?') }} <a href="{{ url_for('reset_password_request') }}">{{ _('Click to Reset It') }}</a></p>
{% endblock %}
