{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>{{ _('Reset Your Password') }}</h2>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
            {{ form.hidden_tag() }}
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
            {{ form.password2.label }}
            {{ form.password2(class="form-control") }}
            <button type="submit" class="button">{{ form.submit.label.text }}</button>
            </form>
        </div>
    </div>
{% endblock %}
