{% extends "base.html" %}

{% block app_content %}
<div style="overflow-x:auto">
    <h2>{{ _('Tournament Schedule') }}</h2>
    <table class="table table-hover">
        <tr>
			<th>ID</th>
			<th>{{ _('Game') }}</th>
			<th>{{ _('Stage') }}</th>
			<th>{{ _('Game Time') }}</th>
			<th>{{ _('Result') }}</th>
			<th></th>
	  	</tr>
	 	{% for game in games %}
	  	<tr style="white-space: nowrap">
	    	<td>{{game.id}}</td>
	    	<td>
				<img src={{ url_for('static', filename='flags/' + game.team_a +'.png') }} width="20" height="20"/>
				{{game.team_a}} - {{game.team_b}}
				<img src={{ url_for('static', filename='flags/' + game.team_b +'.png') }} width="20" height="20"/>
			</td>
	    	<td>{{game.stage}}</td>
	    	<td>{{ moment(game.starts_at).format('ddd DD/MM, H:mm') }}</td>
			<td>
				{% if game.first_goal==1 %}
				<img src={{ url_for('static', filename='essentials_' ~ sport ~ '/goal.png') }} width="10" height="10"/> {{game.score_a}}:{{game.score_b}}  
				{% elif game.first_goal==2 %}
				{{game.score_a}}:{{game.score_b}} <img src={{ url_for('static', filename='essentials_' ~ sport ~ '/goal.png') }} width="10" height="10"/>
				{% elif game.first_goal==0 %}
				{{game.score_a}}:{{game.score_b}}
				{% else %}
				-
				{% endif %}
			</td>
	    	<td>
				<a href="{{ url_for('games', idd=game.id) }}" class="button"><i class="fa-solid fa-arrow-right"></i></a>
	    	</td>
	    </tr> 
	  	{% endfor %} 
    </table>
</div>
{% endblock %}

